In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
data = pd.read_csv("AirPassengers.csv")

In [3]:
data.head()

     Month  #Passengers
0  1949-01          112
1  1949-02          118
2  1949-03          132
3  1949-04          129
4  1949-05          121

In [4]:
print ('\n Data Types:')
print (data.dtypes)

 Data Types:
Month          object
#Passengers     int64
dtype: object

In [5]:
from datetime import datetime

In [6]:
dateparse = lambda dates: datetime.strptime(dates, '%Y-%m')

In [7]:
data = pd.read_csv("AirPassengers.csv",parse_dates=["Month"],index_col ="Month",date_parser=dateparse)

In [22]:
print ('\n Parsed Data:')
print (data.head())

 Parsed Data:
            #Passengers
Month
1949-01-01          112
1949-02-01          118
1949-03-01          132
1949-04-01          129
1949-05-01          121

In [8]:
print(data.dtypes)

#Passengers    int64
dtype: object

In [9]:
data.index

DatetimeIndex(['1949-01-01', '1949-02-01', '1949-03-01', '1949-04-01',
               '1949-05-01', '1949-06-01', '1949-07-01', '1949-08-01',
               '1949-09-01', '1949-10-01',
               ...
               '1960-03-01', '1960-04-01', '1960-05-01', '1960-06-01',
               '1960-07-01', '1960-08-01', '1960-09-01', '1960-10-01',
               '1960-11-01', '1960-12-01'],
              dtype='datetime64[ns]', name='Month', length=144, freq=None)

In [10]:
ts = data["#Passengers"]

In [11]:
ts.head()

Month
1949-01-01    112
1949-02-01    118
1949-03-01    132
1949-04-01    129
1949-05-01    121
Name: #Passengers, dtype: int64

In [12]:
ts["1949-01-01"]

112

In [14]:
from datetime import datetime

In [15]:
ts[datetime(1949,1,1)]

112

In [16]:
ts['1949-01-01':'1949-05-01']

Month
1949-01-01    112
1949-02-01    118
1949-03-01    132
1949-04-01    129
1949-05-01    121
Name: #Passengers, dtype: int64

In [17]:
ts[:'1949-05-01']

Month
1949-01-01    112
1949-02-01    118
1949-03-01    132
1949-04-01    129
1949-05-01    121
Name: #Passengers, dtype: int64

In [ ]:
plt.plot(ts)